.breadcrumb-component{
    background-color: #343a40;
    margin: 2px !important;
    padding: 4px;
    color: white;
    border-radius: 5px;
}

#dataTable{
    width: 100% !important;
}

.page-item.active .page-link{
    background-color: #17A2B8 !important;
}

.select2-container{
    width: 100% !important;
}